[submodule "aieda/third_party/iEDA"]
	path = aieda/third_party/iEDA
	url = git@gitee.com:ieda-ipd/iEDA.git
[submodule "aieda/third_party/tools"]
	path = aieda/third_party/tools
	url = git@gitee.com:ieda-iai/tools.git
